#services {
  flex-direction: column;
}
#services .box {
  width: 295px;
  height: 295px;
}
#client-section {
  overflow: hidden;
}
#navbar {
  flex-direction: column;
}
#home {
  height: 321px;
  padding: 9px 67px;
}
#home::before {
  height: 446px;
}
#home p {
  font-size: 13px;
}
.h_primary {
  font-size: 26px;
}
#navbar ul li a {
  font-size: 1rem;
  padding: 0px 7px;
}
#services-container {
  margin: 33px 20px;
}
